/* Global Variables */
$default-background-color: #30373e;
$default-font-color: white;
$default-font-family: "Roboto", sans-serif;
$default-font-size: 16px;
$monospaced-font-family: "Fira Mono", monospace;